<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="First Test Suite" verbose="1" >

    <parameter name="browser" value="chromw"></parameter>
    <parameter name="driver_path" value="C:\Users\nani\Downloads\chromedriver.exe"></parameter>
    <test name="Regression Tests" parallel="classes">
        <classes>
            <class name="ClassA"/>
            <class name="ClassD"/>
        </classes>
    </test>

    <test name="Smoke Tests" parallel="classes">
        <parameter name="browser_name" value="firefox"></parameter>
        <classes>
            <class name="ClassB"/>
            <class name="ClassD"/>
        </classes>
    </test>
</suite>
